* {
    padding: 0px;
    margin-top: 0px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;	
}

body {
    background-color: #f0f0f0;
    width: 100%;
}

.container {
    margin: auto;
}

#header {
    float: right;
    height: 50px;
    width: 60%;
}

.sectionHeader {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -0.01em;
    font-size: .9em;
    margin-bottom: 55px;
    color: #303030;

}

#dates h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.8em;
    font-weight: 900;
    letter-spacing: -0.01em;
    color: #303030;
}

#dates h2 {
    font-family: 'Share Tech Mono', monospace;
    font-size: .95em;
    line-height: 30px;
    font-weight: 300;
    margin-left: 45%;
    color: #474747;
}

.vertical-rl {
    writing-mode: vertical-rl;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: .85em;
    color: whitesmoke;
    position: relative;
    left: 30%;
    background-color: none;
    margin: 0;
}


#dates {
    width: 17%;
    margin-left: 2%;
    float: left;
    margin-top: 100px;
}

#work {
    width: 48%;
    margin-left: 3%;
    margin-right: 3%;
    float: left;
}

.workCol1 {
    width: 22%;
    margin-right: 3%;
    float: left;
    position: relative;
}

.workCol2 {
    width: 22%;
    margin-right: 3%;
    float: left;

}

.workCol3 {
    width: 22%;
    margin-right: 3%;
    float: left;

}

.workCol4 {
    width: 22%;
    float: left;

}

#learn {
    width: 24%;
    margin-right: 2%;
    float: right;
}

.learnCol1 {
    width: 44%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
}

.learnCol2 {
    width: 44%;
    float: left;

}



/* for individual jobs */

#wade {
    height: 100px;
    width: 100%;
    background-color: #4CD964;
    border-radius: 100px;
    transition: transform ease-in 200ms, ease-out 200ms;
    overflow: hidden;
}

#morse {
    margin-top: 190px;
    height: 100px;
    width: 100%;
    background-color: #4CD964;
    border-radius: 100px;
    transition: width 300ms, height 150ms ease-in 200ms, ease-out 200ms;
    overflow: hidden;
}

#ngi {
    margin-top: 50px;
    height: 350px;
    background-color: #4CD964;
    border-radius: 100px;
    transition: transform 150ms ease-in, .3s;
}

#ecw {
    margin-top: 300px;
    height: 100px;
    background-color: #4CD964;
    border-radius: 100px;
    transition: transform 150ms ease-in, .3s;
}


#esb {
    margin-top: 80px;
    height: 100px;
    background-color: #5AC8FA;
    border-radius: 100px;
    transition: width 300ms, height 150ms ease-in 200ms, ease-out 200ms;
    overflow: hidden;
    width: 100%;
}

#steinberg {
    margin-top: 50px;
    height: 200px;
    background-color: #5AC8FA;
    border-radius: 100px;
    transition: transform 150ms ease-in, .3s;
}

#coconaise {
    margin-top: 30px;
    height: 110px;
    background-color: #5AC8FA;
    border-radius: 100px;
    transition: transform 150ms ease-in, .3s;
}

#whiteraven {
    margin-top: 720px;
    height: 110px;
    background-color: #5AC8FA;
    border-radius: 100px;
    transition: transform 150ms ease-in, .3s;
}

#steammill {
    margin-top: 50px;
    height: 270px;
    background-color: #007AFF;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#meld {
    margin-top: 70px;
    height: 250px;
    background-color: #007AFF;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#steammill2 {
    margin-top: 180px;
    height: 590px;
    background-color: #007AFF;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#vaporwave {
    height: 70px;
    background-color: #5856D6;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#aeroprobe {
    margin-top: 320px;
    height: 400px;
    background-color: #5856D6;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#deli {
    margin-top: 90px;
    height: 530px;
    background-color: #5856D6;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#uiux {
    margin-top: 120px;
    height: 160px;
    background-color: #FF3B30;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#german {
    margin-top: 80px;
    height: 280px;
    background-color: #FF3B30;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#nrcc {
    margin-top: 240px; 
    height: 530px; 
    background-color: #FF3B30;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#javascript {
    height: 280px;
    background-color: #FF9500;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#vproduction {
    margin-top: 40px;
    height: 280px;
    background-color: #FF9500;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

#webbasics {
    margin-top: 90px;
    height: 320px;
    background-color: #FF9500;
    border-radius: 100px;
    transition: transform 300ms ease-in, .4s;
}

/* transition and popup land */

.hidden {
    display: none;
}

.fullWidthButton {
    display: none;
    width: 100%;
    color: transparent;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    margin: 0% 0% -7% 0%;
    padding: 0%;
    position: absolute;
    z-index: 99;

}


#wade.popupCol1 {
    width: 260px;
    height: 450px;
    border-radius: 30px;
    left: 25%;
    box-shadow: 2px 0px 50px -5px rgba(69,69,69,0.76);
    position: fixed;
    z-index: 100;
    transform: rotate(180deg);
}

.engulf {
    filter: blur(1px);
}

.content  {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align: center;
    display:  none;
    transform: rotate(180deg);
    margin-top: 50px;

}

.content p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 20px 20px 20px 20px;
    font-size: 9.5pt;
}
